# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.*
/client/.yarn/*
!/client/.yarn/patches
!/client/.yarn/plugins
!/client/.yarn/releases
!/client/.yarn/versions

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# pycache folders
__pycache__/

# vercel
.vercel

# typescript
*.tsbuildinfo
/client/next-env.d.ts
